{% extends 'base.html' %}

{% block content %}
  <h3>CSV berhasil di-load ke database</h3>
  <table class="table">
    <thead>
      <th scope="col">Nama Provinsi</th>
      <th scope="col">Luas Provinsi (Feature Scaled)</th>
      <th scope="col">Provinsi Tetangga</th>
    </thead>
    <tbody>
      {% for data in data_provinsi %}
        <tr>
          <td>{{data.0}}</td>
          <td>{{data.1}}</td>
          <td>{{data.2}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}