{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/tanamin.css' %}">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">

{% endblock %}
{% block content %}
<div class="se-pre-con"></div>
<nav class="navbar navbar-expand-lg navbar-shrink navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">tanamin</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/app">aplikasi</a>
            </li>
        </ul>
        </div>
    </div>
</nav>
<div>
    {% for key, value in dictionary.items %}
        <li class="data">{{ value.name }}</li>
        <li class="data">,</li>
        <li class="data">{{ value.color.num }}</li>
        <li class="data">,</li>
        <li class="data">{{ value.color.plant }}</li>
        <li class="data">;</li>
    {% endfor %}
    <h2 class="data jumlah">{{tanamans}}</h2>
</div>
    <section class="map" id="map" style="margin-top: -80px;">
        <div class="container-fluid">
            <div class="row"> 
                <div class="col-lg-2">
                    <div class="card">
                <h5 class="card-header">Form Input User</h5>
                <div class="card-body">
                    <form action="{% url 'home:submit_tanaman' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-check">
                            <div class="col-md">
                                <!-- <small class="form-text text-muted">
                                    format: [Jumlah Jenis Tanaman]_[Jenis Tanaman 1]_[Jenis Tanaman n]
                                </small>
                                <small class="form-text text-danger">
                                    Warning: semakin banyak atau sedikit tanaman yang diberikan, semakin lama proses searching akan berjalan.
                                    Jika angka yang diberikan terlalu banyak atau sedikit, maka proses mungkin gagal
                                </small>
                                <small class="form-text text-success">
                                    Jumlah yang disarankan: 4-6
                                </small>
                                <small class="form-text text-muted">
                                    contoh: 4_padi_tebu_jagung_teh
                                </small> -->
                                <!-- <label for="tanaman">Jumlah dan Jenis Tanaman <small>(minimal 4 jenis tanaman)</small></label>
                                <input type="text" id="tanaman" class="form-control" name="tanamans"> -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="tanamans" value="Cengkeh" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Cengkeh
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="tanamans" value="Jagung" id="defaultCheck2">
                                    <label class="form-check-label" for="defaultCheck2">
                                        Jagung
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="tanamans" value="Kelapa Sawit" id="defaultCheck3">
                                    <label class="form-check-label" for="defaultCheck3">
                                        Kelapa Sawit
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="tanamans" value="Kopi" id="defaultCheck4">
                                    <label class="form-check-label" for="defaultCheck4">
                                        Kopi
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="tanamans" value="Padi" id="defaultCheck5">
                                    <label class="form-check-label" for="defaultCheck5">
                                        Padi
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="tanamans" value="Tebu" id="defaultCheck6">
                                    <label class="form-check-label" for="defaultCheck6">
                                        Tebu
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="tanamans" value="Teh" id="defaultCheck7">
                                    <label class="form-check-label" for="defaultCheck7">
                                        Teh
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="tanamans" value="Tembakau" id="defaultCheck8">
                                    <label class="form-check-label" for="defaultCheck8">
                                        Tembakau
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary my-1">Submit</button>
                    </form>
                </div>
            </div>
                </div>
                <div class="col-lg-8">
                    <div id="geochart" style="width: 100%;"></div>
                </div>
                <div class="col-lg-2">
                    <ol>
                        Persebaran Pangan:
                        {% for key, value in luas_pangan.items %}
                        <li>
                            {{key}}: {{value}}
                        </li>
                        {% endfor %}
                        Conflicts: 
                        {{conflicts}}
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <br>
    
    <!-- Geo Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{% static 'js/geochart.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'js/jquery.easing.js'%}"></script>
<script src="{% static 'js/test.js' %}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script>
$(window).load(function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
	});
</script>
	
 {% endblock %}