{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/tanamin.css' %}">

    <!-- Custom fonts for this template -->
    <link href="{% static 'css/all.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">

{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-shrink navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">tanamin</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/app">aplikasi</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div>
    {% for key, value in dictionary.items %}
        <li class="data">{{ value.name }}</li>
        <li class="data">,</li>
        <li class="data">{{ value.color.num }}</li>
        <li class="data">,</li>
        <li class="data">{{ value.color.plant }}</li>
        <li class="data">;</li>
    {% endfor %}
    <h2 class="data jumlah">{{tanamans}}</h2>
</div>
    <section class="map" id="map">
        <div class="container-map">
            <h1>Peta Persebaran Pangan Indonesia - <em>tanamin</em></h1>
            <div id="geochart" style="width: 100%;"></div>
            <p>
                Persebaran Pangan:
            </p>
            <p>
                {% for key, value in luas_pangan.items %}
                    {{key}}: {{ value }}
                {% endfor %}
            </p>
            <p>
                Conflicts: 
                {{conflicts}}
            </p>
            <div class="card">
                <h5 class="card-header">Form Input User</h5>
                <div class="card-body">
                    <form action="{% url 'home:submit_tanaman' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md">
                                <small class="form-text text-muted">
                                    format: [Jumlah Jenis Tanaman]_[Jenis Tanaman 1]_[Jenis Tanaman n]
                                </small>
                                <small class="form-text text-danger">
                                    Warning: semakin banyak atau sedikit tanaman yang diberikan, semakin lama proses searching
                                    Jika angka yang diberikan terlalu banyak atau sedikit, maka proses mungkin gagal
                                </small>
                                <small class="form-text text-success">
                                    Jumlah yang disarankan: 4-6
                                </small>
                                <small class="form-text text-muted">
                                    contoh: 4_padi_tebu_jagung_teh
                                </small>
                                <label for="tanaman">Jumlah dan Jenis Tanaman <small>(minimal 4 jenis tanaman)</small></label>
                                <input type="text" id="tanaman" class="form-control" name="tanamans" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary my-1">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <br>
    <footer id="myFooter" style="text-align:center">
        <p>© tanamin SCBD </p>
    </footer>
    <!-- Geo Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{% static 'js/geochart.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'js/jquery.easing.js'%}"></script>

    {% endblock %}