{% extends 'base.html' %}
{% load static %}
{% block css %}
<!-- Custom fonts for this template -->
<link href="{% static 'css/all.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
<link href="{% static 'css/agency.css' %}" rel="stylesheet">

{% endblock %}
{% block content %}
{% include 'navbar.html' %}
      <!-- Header -->
      <header class="masthead">
        <div class="container">
          <div class="intro-text">
            <div class="intro-heading text-uppercase">tanamin</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Pelajari</a>
          </div>
        </div>
      </header>
  

      <section id="services">
        <div class="container">
            <div class="col-md-7">
                <h1>Apa itu tanamin?</h1>
                <p>Tanamin merupakan sebuah website pemetaan produksi pangan
                    berdasarkan provinsi yang ada di Indonesia. Kamu dapat memberikan masukan jenis-jenis
                    pangan yang ingin dipetakan secara merata.</p>
            </div>
        </div>
      </section>

      <section id="">
          <div class="container">
            <div class="row">
                <div class="col-md-5">
                  </div>
                  <div class="col-md-7" style="text-align:right;">
                      <h1>Bagaimana tanamin bekerja?</h1>
                      <p>Tanamin adalah agent yang dibuat untuk menyelesaikan CSP (Constraint Satisfaction Problem). Constraints berupa warna dari provinsi yang
                          bersebelahan tidak boleh sama dan jumlah luas dari provinsi yang memproduksi suatu jenis
                          pangan tidak boleh berbeda terlalu jauh.</p>
                  </div>
            </div>
          </div>
        </section>


      <!-- Services -->
      <section id="aneh">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-4">
              <h4 class="service-heading">Fari Qodri A.</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
              <h4 class="service-heading">Indra Septama</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
              <h4 class="service-heading">Priambudi Lintang B.</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="col-lg-12 text-center">
            <a class="btn btn-primary btn-xl text-uppercase" href="/app">Mulai!</a>
          </div>
      </section>
  
<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'js/jquery.easing.js'%}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'js/agency.js' %}"></script>
{% endblock %}


