#isi{
    text-align: left;
    top: 40%;
    bottom: 60%;
    position: absolute;
    left: 10%;
}

.jumbotron{
    height: 100vh;
    background-color: black;
    background-image: url('/static/img/sawah.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.tombol{
    color: black;
}

.card-title2{
    font-size: 72px;
    font-family: cursive, Geneva, Tahoma, sans-serif;
}

.cards {
    background-color: rgba(255, 255, 255, 0.205);
}

.container-map {
    padding-right: 20%;
    padding-left: 20%;
    margin-right: auto;
    margin-left: auto;
}

.container-map h1{
    text-align: center;
}
 
#geochart{
    border: 1px solid black;
}

.user-input{
    background-color: white;
}

