
.data {
    display: none;
}

.tombol{
    color: black;
}

.card-title2{
    font-size: 72px;
    font-family: cursive, Geneva, Tahoma, sans-serif;
}

.cards {
    background-color: rgba(255, 255, 255, 0.205);
}

.container-map {
    padding-right: 20%;
    padding-left: 20%;
    margin-right: auto;
    margin-left: auto;
}

.container-map h1{
    text-align: center;
}
 
#geochart{
    border: 1px solid black;
}

.user-input{
    background-color: white;
}

